@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html{
		box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	box-sizing: border-box;
	font-family: 'Oxygen', sans-serif;
}
*, *::before, *::after{
	box-sizing: inherit;
}
body{
    width: 100%;
    margin: 0;
}
header{
	background-color: #FAEBD7;
	position: relative;
	text-align: center;
	padding-top: 1em;
}
header img{
	width: 41px;
}
header h1{
	display: inline;
}
header nav li{
	display: inline;
	width: 25%;
	float: left;
	padding: .5em;
}
header nav ol{
	margin: 0;
	padding: 0;
	overflow: hidden;
}
header nav{
	background-color: #696969;
	margin-top: 1em;
}
header a{
	text-decoration: none;
	color: white;
	font-size: 91%;
}
.top img{
	width: 111.6%;
	margin: 0 -6%;
  height: 7rem;
}
.top p{
	position: relative;
	top: -7.5rem;
	color: white;
	text-align: center;
	margin-bottom: -5em;
	width: 100%;
	text-shadow: 4px 4px 10px black;
}
.imgdesc li{
	display: inline-table;
	width: 30%;
}
.imgdesc{
	padding: 0;
}
.imgdesc dt{
	font-weight: bold;
	font-size: 80%;
}
.imgdesc dl{
	margin: 0;
}
.imgdesc dd{
	margin: 0;
	font-size: 79%;
}
main{
	padding:0 2% 5% 2%;
	background-color: #FAF0E6;
}
main img{
	width: 100%;
}
main li{
   display: inline-block;
   width: 139%;
}
main a{
	text-decoration: none;
}

h2{
	text-align: center;
	text-decoration: underline;
}

hr{
	margin: 0px;
}
h3{
	text-decoration: underline;
}
h4{
	text-decoration: underline;
  background-color: #696969;
  color: white;
  padding: 7px;
  margin-bottom: 13px;
  margin-top: 3px;
}
li {
    padding-bottom: 11px;
}
.learn{
	width: 100%;
	background-color: #696969;
	text-align: center;
	padding: .5em;
	margin-bottom: 2em;
	border-radius: 0.25em;
	font-size: 120%;
}
.learn a{
	text-decoration: none;
	color: white;
}
.pr{
	text-align: center;
}
.week{
	text-decoration: underline;
}
.button{
	display: inline;
	background-color: #696969;
	border-radius: 0.25em;
	padding: .25em;
	color: white;
	position: relative;
	bottom: 4px;
}
.price{
	width: 100%;
	text-align: center;
}
.price div{
	background-color: #696969;
	padding: 1em 1em;
	margin: 0 2.5%;
	width: 44%;
	display: inline-block;
	border-radius: 0.25em;
}
.price a{
	text-decoration: none;
	color: white;
}

.top2 img{
	width: 111.6%;
	margin: 0 -6%;
}
.playing{
	width: 111.6%;
	background-color: #696969;
	text-align: center;
	padding: .5em;
	margin-bottom: -0.65em;
	margin-left: -6%;
	color: white;
	margin-top:1.5em;
}
figure{
	margin: 1em 0 0 0;
}
.top2 figcaption{
	position: relative;
	top: -8.5rem;
	color: white;
	text-align: center;
	margin-bottom: -7em;
	width: 100%;
	text-shadow: 1px 2px 1px black;
}

.button2{
	display: inline;
	background-color: #696969;
	border-radius: 0.5em;
	padding: .4em;
	color: white;
	position: relative;
	text-shadow: none;
}

.days ol{
	width: 55%;
	margin: 0;
	padding: 0;
}

.days2 ol{
	width: 55%;
	margin: 0;
	padding: 0;
}


footer{
	padding: 4% 0% 0% 5%;
	background-color: ##FAF0E6;
}
footer li{
	display: inherit;
}
footer ul{
	padding: 0;
	margin: 0;
}
footer ol{
	display: inline;
	padding: 0;
}
footer p{
	margin:0;
}
footer a{
	color: #B28D6B;
}





@media only screen and (min-width: 20.5em) {
	.top p {
    position: relative;
    top: -6rem;
    color: white;
    text-align: center;
    margin-bottom: -5em;
    width: 100%;
    text-shadow: 4px 4px 10px black;
	}

	h2{
	padding-top: 1em;
	text-align: center;
	text-decoration: underline;
	}
}


@media only screen and (min-width: 31.25em) {
	main{
	padding:0 3% 5% 3%;
	}

	.imgdesc li {
    display: inline-table;
    width: 32%;
	}

	.imgdesc dt {
    font-weight: bold;
    font-size: 90%;
	}

	.imgdesc dd {
    margin: 0;
    font-size: 82%;
	}

	h3 {
    text-align: center;
    text-decoration: underline;
	}

	.learn {
    width: 92%;
    text-align: center;
    padding: .5em;
    margin-bottom: 2em;
    margin-left: 4.5%;
    border-radius: 0.25em;
    font-size: 94%;
	}

	.pr {
		margin-left: 15.5%;
    width: 69%;
    text-align: center;
	}

	.top2 figcaption {
    position: relative;
    top: -14.5rem;
    color: white;
    text-align: center;
    margin-bottom: -7em;
    width: 100%;
    text-shadow: 1px 2px 1px black;
	}

	.days {
    width: 70%;
    margin-left: 15.5%;
	}
	.days2 {
    width: 70%;
    margin-left: 15.5%;
	}



}






@media only screen and (min-width: 40.625em) {
	.topleft {
		width: 48%;
		float: left;
	}

	.topright {
		width: 48%;
		float: right;
	}

	.middleleft {
		width: 48%;
		float: right;
	}

	.middleright {
		width: 48%;
		float: left;
	}
	.bottomleft {
		width: 48%;
		float: right;
	}

	.bottomright {
		width: 48%;
		float: left;
	}
	.bottomcenter {
		width: 48%;
	}

	.days {
    width: 47%;
		float: left;
		margin: 0;
	}
	.days2 {
    width: 47%;
		float: right;
		margin: 0;
	}

	hr {
    margin: 0px;
    clear: left;
	}


}
